
<div class="announce">
  <div class="card">
    <h2>공지 조회/작성/수정</h2>
    <form class="board" action="#" method="post">
        <input name="title" value="제목임" >
        <input name="date" value="0000-00-00">
        <textarea name="main">본문임</textarea>
        <button type="button" class="btn btn-outline-primary btn-sm">작성/수정</button>
    </form>
  </div>
      
</div>
