<div class="announce">
    <table class="announcetable">
      <tr>
        <td class="annocell">공지ID</td>
        <td class="annocell">공지 제목</td>
        <td class="annocell">공지 작성일</td>
        <td class="annocell" colspan="2"></td>
      </tr>
      <tr>
        <td class="annocell">1</td>
        <td class="annocell">
          <a href="#">제목</a>
        </td>
        <td class="annocell">공지 작성일</td>
        <td class="annocell">
          <a href="#">수정</a>
        </td>
        <td class="annocell">
          <a href="#">삭제</a>
        </td>
      </tr>
    </table>

</div>