<div class="announce">
    <div class="card">
      <table class="inquirytable">
        <tr>
          <td class="inquirycell">문의ID</td>
          <td class="inquirycell">문의자</td>
          <td class="inquirycell">제목</td>
          <td class="inquirycell">날짜</td>
          <td class="inquirycell">답변여부</td>
          <td class="inquirycell"></td>
        </tr>
        <tr>
          <td class="inquirycell">1</td>
          <td class="inquirycell">고객1</td>
          <td class="inquirycell">
            <a href="#">버그신고</a>
          </td>
          <td class="inquirycell">0000-00-00</td>
          <td class="inquirycell">Y/N</td>
          <td class="inquirycell">
            <a href="#">삭제</a>
          </td>
        </tr>
      </table>
    </div>
  </div>