
    <div class="announce">
        <div class="inquiryCU">
          <h5>문의자 : 이름적을칸</h5>
          <p>문의 내용~~~~~~~~~~~~~~~~</p>
        </div>
        <!--답변이 없을시(답변 여부로 구분해야할듯)-->
        <div class="inquiryCU" style="margin-top: 1%;">
          <form action="#" method="post">
            <h5>관리자 :</h5>
              <textarea name="inquiry_content">
              </textarea>
              <button type="submit" class="btn btn-outline-primary btn-sm"> 답변 저장</button>
          </form>
        <!--답변이 있을시(답변 여부로 구분해야할듯)
        <div class="inquiryCU" style="margin-top: 1%;">
            <form action="#" method="post">
              <h5>관리자 :</h5>
                <textarea name="inquiry_content">답변 작성칸
                </textarea>
                <button type="submit" class="btn btn-outline-primary btn-sm"> 답변 저장</button>
            </form>
        </div>
        -->
    </div>

    
