<div class="user">
    <div class="card">
      <p class="number">총 이용자 수 : 10</p>
      <!--이용자 수 증감 표시(날짜로?)-->
    </div>
    <div class="card">
      <p class="number">누적 재활용 횟수</p>
    </div>
    <div class="card">
      수거된 플라스틱 종류
      <table id="plasticTable" class="plastictable">
        <tr>
          <td class="cell">pp</td>
          <td class="cell">pc</td>
        </tr>
      </table>
    <div class="card">
      재활용 가능한 플라스틱 비율
      <!--파이 그래프-->
    </div>
  </div>