    <div class="accuracy">
      <div class="card">
      <table class="reviewtable">
        <tr>
          <td class="rvtavlecell">1점</td>
          <td class="rvtavlecell">2점</td>
          <td class="rvtavlecell">3점</td>
          <td class="rvtavlecell">4점</td>
          <td class="rvtavlecell">5점</td>
        </tr>
        <tr>
          <td class="rvtavlecell">100</td>
          <td class="rvtavlecell">20</td>
          <td class="rvtavlecell">43</td>
          <td class="rvtavlecell">54</td>
          <td class="rvtavlecell">65</td>
        </tr>
      </table>
    </div>
    <div class="card">
      <table class="review">
        <tr>
          <td class="rvtavlecell">만족도 점수</td>
          <td class="rvtavlecell">날짜</td>
          <td class="rvtavlecell">리뷰자 ID</td>
        </tr>
        <tr>
          <td class="rvtavlecell">3</td>
          <td class="rvtavlecell">0000-00-00</td>
          <td class="rvtavlecell">00</td>
        </tr>
      </table>
    </div>
    <div class="longcard" >
      그래프자리
    </div>

