<div class="user">
    <div>
      <form class="d-flex" role="search" action="#" method="post">
      <input class="form-control me-1" style = "width : 150px;margin-left : 50px;margin-bottom : 10px;" type="search"
      placeholder="Search" aria-label="Search" name="search">
      <button class="btn btn-outline-success" style="margin-bottom : 10px;" type="submit">Search</button>
      </form>
      </div>
    <table class="usertable">
      <tr>
        <td class="usercell">id</td>
        <td class="usercell">name</td>
        <td class="usercell">
          <a href="#">삭제</a>
        </td>
      </tr>
      <tr>
        <td class="usercell">id1</td>
        <td class="usercell">name</td>
        <td class="usercell">
          <a href="#">삭제</a>
        </td>
      </tr>
    </table>
  </div>